body{
margin:0;
height:100vh;

background-image:url("12.png");
background-size:cover;
background-position:center;

font-family:Arial;
}

/* LOGIN BOX */

.login-container{

position:absolute;
top:50%;
left:50%;

transform:translate(-50%,-50%);

width:320px;
padding:40px;

background:rgba(255,255,255,0.25);

border-radius:20px;

backdrop-filter:blur(10px);

text-align:center;
}

/* REGISTER BOX */

.register-container{

position:absolute;
top:50%;
left:50%;

transform:translate(-50%,-50%);

width:350px;
padding:40px;

background:rgba(255,255,255,0.25);

border-radius:20px;

backdrop-filter:blur(10px);

text-align:center;
}

/* USER ICON */

.avatar{
width:120px;
margin-bottom:20px;
}

/* INPUT FIELDS */

input{

width:100%;
padding:12px;

margin:10px 0;

border:none;

border-radius:10px;

background:rgba(255,255,255,0.9);
}

/* BUTTON */

button{

width:100%;
padding:12px;

margin-top:10px;

border:none;

border-radius:20px;

background:white;

font-weight:bold;

cursor:pointer;
}

/* OPTIONS */

.options{

display:flex;

justify-content:space-between;

font-size:14px;

margin-top:10px;
}